@model ArtGen.Models.REPORTE_PRODUCCION

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>REPORTE_PRODUCCION</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_REPORTE_PRODUCCION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_REPORTE_PRODUCCION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INCLUSION.COLOR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INCLUSION.COLOR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_DISENO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_DISENO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_MENSAJE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_MENSAJE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.INFORMACION_PRODUCCION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.INFORMACION_PRODUCCION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PORCENTAJE_AVANCE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PORCENTAJE_AVANCE)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
