@model ArtGen.Models.FOTOGRAFIA

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FOTOGRAFIA</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_FOTOGRAFIA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_FOTOGRAFIA)
            @Html.ValidationMessageFor(model => model.ID_FOTOGRAFIA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_DISENO, "DISENO")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_DISENO", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_DISENO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.URL_FOTOGRAFIA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.URL_FOTOGRAFIA)
            @Html.ValidationMessageFor(model => model.URL_FOTOGRAFIA)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
