@model ArtGen.Models.CATEGORIA

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CATEGORIA</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_CATEGORIA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_CATEGORIA)
            @Html.ValidationMessageFor(model => model.ID_CATEGORIA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NOMBRE_CATEGORIA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NOMBRE_CATEGORIA)
            @Html.ValidationMessageFor(model => model.NOMBRE_CATEGORIA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESCRIPCION_CATEGORIA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESCRIPCION_CATEGORIA)
            @Html.ValidationMessageFor(model => model.DESCRIPCION_CATEGORIA)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
